img{
    width: 15rem;
    margin-bottom: 3rem;
}

h4{
    bottom : 1rem;
    top : rem;
}

.login-component{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 8rem;
    background-image: url('../../images/Circuit\ imprimé\ v3\ vertical.png');
    background-size: 8%;
    background-repeat: no-repeat;
}